DISCORD_TOKEN=
DATABASE_URL=
GUILD_ID=
VIP_ROLE_ID=
CHAMPION_ROLE_ID=
LEADERBOARD_CHANNEL_ID=
WINNERS_CHANNEL_ID=
STAFF_CHANNEL_ID=
ALLOWED_CHANNEL_IDS=
TIMEZONE=America/Chicago
PRIZE_TEXT=$50 gift card
VIP_PRIZE_TEXT=$25 gift card
