DISCORD_TOKEN=
DATABASE_URL=
GUILD_ID=
VIP_ROLE_ID=
CHAMPION_ROLE_ID=
LOYALTY_3_ROLE_ID=
LOYALTY_6_ROLE_ID=
LOYALTY_12_ROLE_ID=
VIP_LOUNGE_CHANNEL_ID=
LEADERBOARD_CHANNEL_ID=
WINNERS_CHANNEL_ID=
STAFF_CHANNEL_ID=
WINS_CHANNEL_ID=
ALLOWED_CHANNEL_IDS=
EXCLUDED_USER_IDS=
EXCLUDED_ROLE_IDS=
TIMEZONE=America/Chicago
PRIZE_TEXT=$50 gift card
VIP_PRIZE_TEXT=$25 gift card
